@use "./mixin" as *;
@use "./color" as *;
@use "./variable" as *;
/**
    リセットと初期設定を両方記載
    共通パーツの指定 section__area section__title inner など
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
$ff-noto-sans-japanese: "Noto Sans JP", sans-serif;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-family: $ff-noto-sans-japanese;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  @include mq() {
    letter-spacing: 1.5px;
  }
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
small,
b,
a,
strong,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.inner {
  width: $innerWidth1170;
  max-width: $w100;
  margin: $marginCenter;
  @include mq() {
    width: $w100;
  }
}

a {
  text-decoration: none;
  color: $font-base-color;
}
